
@{
    ViewBag.Title = "Melhorias";
}

<div class="container mt-5">
    <h2>Melhorias identificadas.</h2>

    <ul class="list-group">
        <li class="list-group-item">Melhorar a interligação com o protoboard/placa.</li>
        <li class="list-group-item">Usar um flat cable de preferência com os conectores parafusáveis.</li>
        <li class="list-group-item">Colocar sensores de massa para confirmar que o remédio foi pego da caixa.</li>
        <li class="list-group-item">Um sensor de temperatura para alertar se as condições de armazenamento do remédio não estão adequadas.</li>
        <li class="list-group-item">Ler a câmera de monitoramento do lar dos idosos e usar reconhecimento de imagem para confirmar que o paciente tomou a medicação.</li>
        <li class="list-group-item">Usar tag rfid para identificar o paciente tomando o remédio.</li>
    </ul>
</div>